In [ ]:
#IrisFromUCI.rename(columns={'0':'SepalLength', '1':'SepalWidth', '2':'PetalLength', '3':'PetalWidth','4':'Species'}, inplace = True)

# Load Data

In [29]:
from sklearn.datasets import load_iris
iris = load_iris()

# Structure data into data frame

In [28]:
iris.target

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [27]:
import pandas as pd
X = pd.DataFrame(data = iris.data, columns =  iris.feature_names)
print(X.head())

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [31]:
y = pd.DataFrame(data=iris.target, columns =  ["irisType"])
y.head()

   irisType
0         0
1         0
2         0
3         0
4         0

In [30]:
import pandas as pd
data = pd.DataFrame({
    'SepalLength':iris.data[:,0],
    'SepalWidth':iris.data[:,1],
    'PetalLength':iris.data[:,2],
    'PetalWidth':iris.data[:,3],
    'Species':iris.target
})
data.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth  Species
0          5.1         3.5          1.4         0.2        0
1          4.9         3.0          1.4         0.2        0
2          4.7         3.2          1.3         0.2        0
3          4.6         3.1          1.5         0.2        0
4          5.0         3.6          1.4         0.2        0

# Analysis of data

In [25]:
y.irisType.value_counts()

2    50
1    50
0    50
Name: irisType, dtype: int64

In [54]:
data.irisType.value.counts()

AttributeError: ignored

# Load data from a UC Irvine source and convert it into a Pandas Dataframe

In [42]:
# Read from https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data
IrisFromUCI = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data', header = None)

In [53]:
IrisFromUCI.columns = ['SepalLength','SepalWidth','PetalLength','PetalWidth','Species']
IrisFromUCI.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth      Species
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa